.aboutUs-heading {
    color: rgb(255, 255, 255);
    font-size: 120%;
    padding-top: 1%;
    padding-left: 3%;
    text-decoration: none;
}

.aboutUs-grid {
    display: grid;
    grid-template-columns: 60% 25%;
    padding: 1%;
    gap: 5%;
    top: 5%; 
}

.aboutUs-grid-left {
    grid-column: 1;
    margin-left: 5%;
}

.aboutUs-grid-right {
    grid-column: 2;
}


/* TEXT */

.aboutUs-description {
    color: #ffffff;
    font-size: 100%;
    width: 90%;
    height: 50%;
}


.remove-margin {
    margin: 0;
    padding: 0;
}

.info-box:hover{
    transform: translateY(-5px);
}

h1.remove-margin{
    font-weight: lighter;
}
