#more {display: none;}
#link{
    text-decoration: underline;
    cursor: pointer;
}
#link :hover{
    text-emphasis-color: blue;
}
.carousel{
    position: relative;
    max-width: 75%;
    top: 3rem;
    left: 10rem;
    display: flex;
    flex-direction: column;
}
ul.control-dots {
    display: none;
}
.carousel .carousel-status{
    display: none;
}
.carousel.carousel-slider .control-arrow{
    max-height: 90rem;
    top: 13rem;
    max-width: 20rem;
    /*pointer-events: none;*/
    max-height: 42px;
}
.carousel .slide img{
    max-width: 50rem;
}
h1 {
    position: relative;
    left: -1rem;
    top: 0rem;
}
.carousel .control-next.control-arrow:before {
    border-left: 13px solid black;
}
.carousel .control-prev.control-arrow:before {
    border-right: 13px solid black;
}
button.control-arrow.control-next{
    position: relative;
    top: 2rem;
}