#more {display: none;}
#link{
    text-decoration: underline;
    cursor: pointer;
}
#remove-margin {
    margin: 0;
} 
.carousel{
    position: relative;
    max-width: 75%;
    top: 3rem;
    left: 10rem;
    display: flex;
    flex-direction: column;
}
ul.control-dots {
    display: none;
}
.carousel .carousel-status{
    display: none;
}
.carousel.carousel-slider .control-arrow{
    max-height: 87.1%;
}
.carousel .slide img{
    max-width: 50rem;
}
h1 {
    position: relative;
    left: -1rem;
    top: 0rem;
}
.carousel .control-next.control-arrow:before {
    border-left: 13px solid black;
}
.carousel .control-prev.control-arrow:before {
    border-right: 13px solid black;
}

.readMoreOrLessElement {
    margin-left: 3%;
}

.text-carousel {
    margin-top: 10%;
}
