
.header {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  position: relative;
  width: 100vw;
}

.account-logo {
  position: relative;
  top: -1rem;
}

.topnav input[type=text] {
  border: 1px solid #ccc;
}

input[name="search"] {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 50%;
  position: relative;
  left: 5%;
  max-height: 50%;
}

button[name="searchbtn"] {
  background-color: white;
  border: none;
  position: absolute;
  cursor: pointer;
}

a.header {
  position: absolute;
  top: 10%;
  max-width: 12%;
}

form.searchFunction {
  max-width: 20%;
}

i :hover{
  cursor: pointer;
}

.logoutBtn:hover{
  cursor: pointer;
  color: rgb(78, 78, 245);
}
.accountBtn:hover{
  cursor: pointer;
  color: rgb(78, 78, 245);
}
.deleteBtn:hover{
  cursor: pointer;
  color: rgb(78, 78, 245);
}

.sideNav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -16rem;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideNav i {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sideNavButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

i.sideNavIcon {
  position: absolute;
  right: 3rem;
  bottom: 1rem;
}

button.accountBtn{
  position: relative;
  left: 14%;
  top: -1rem;
  border: none;
  background: transparent;
  font-size: 70%;
}

button.deleteBtn{
  position: relative;
  left: 14%;
  top: -1rem;
  border: none;
  background: transparent;
  font-size: 70%;
}

@media only screen and (min-width: 400px) {

  .header {
    font-size: 150%;
  }

  .account-logo {
    width: 8%;
    left: 90%;
    height: 35%;
    max-width: 50%;
  }

  input[name="search"] {
    left: 50%;
    max-width: 60%;
    top: 10px;
  }

  button[name="searchbtn"] {
    left: 19.3%;
    top: 33%;
  }

  a.header {
    left: 39%;
    text-align: center;
  }

  .logoutBtn {
    position: relative;
    left: 14%;
    top: -1rem;
    border: none;
    background: transparent;
    font-size: 70%;
  }
}