body{
    margin-bottom: 20px;
}

input[name="uname"], input[name="pass"], input[name="em"]{
    width: 42%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
}
.login-form{
    left: 30%;
    position: relative;
    top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
}
button[name="loginbtn"], button[name="signup"]{    
    background-color: #B7C9E2;
    color: white;
    padding: 13px 20px;
    margin: 24px 0;
    border: none;
    cursor: pointer;
    width: 42%;
    border-radius: 3px 3px 3px 3px;
}
.btn {
    width: 236px;
    display: flex;
    margin: auto;
    position: relative;
    top: 6rem;
    right: 5%;
}

button.signup {
    background: white;
    height: 60px;
    border: 0px;
    border-radius: 0px 22px 22px 0px;
    width: -webkit-fill-available;
}
button.login {
    background: white;
    height: 60px;
    border-radius: 22px 0px 0px 22px;
    border: 0px;
    width: -webkit-fill-available;
}
button.pressed{
    background-color: #B7C9E2;
    color: white;
}
button.login:hover {
    border: 1px solid black;
}
button.signup:hover {
    border: 1px solid black;
}
button[name="loginbtn"]:active, button[name="signup"]:active{
    text-decoration: none;
    background-color: #B7C9E2;
    box-shadow: 0 3px #E0E0E0;
    transform: translateY(4px);
}
button[name="loginbtn"]:hover{
    border: 1px solid black;
}
.doctorPortal-box{
    background: #fff;
    border: 1px solid #cbd5e0;
    border-radius: 5px;
    padding: 16px;
    max-width: 35%;
    position: relative;
    top: 13rem;
    left: 25rem;  
    margin-bottom: 20px;
}
.page-layout {
    display: flex;
    flex-direction: column;
}
.btn-doctorPortal-box{
    border: none;
    background-color: #B7C9E2;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    padding: 6px;
}
.btn-doctorPortal-box:hover{
    border: 1px solid black;
}
.btn-doctorPortal-box:active{
    text-decoration: none;
    background-color: #B7C9E2;
    box-shadow: 0 3px #E0E0E0;
    transform: translateY(4px);
}
h1.errorMsg {
    position: relative;
    top: -2rem;
    color: red;
    left: 28rem;
    margin: 0;
}