input[name="uname"], input[name="pass"], input[name="em"]{
    width: 42%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
}
.login-form{
    left: 30%;
    position: relative;
    top: 10rem; 
    display: flex;
    flex-direction: column;
}
button[name="loginbtn"]{    
    background-color: #B7C9E2;
    color: white;
    padding: 13px 20px;
    margin: 24px 0;
    border: none;
    cursor: pointer;
    width: 42%;
}



.btn {
    width: 236px;
    display: flex;
    margin: auto;
    position: relative;
    top: 8rem;
}

button.signup {
    background: white;
    height: 60px;
    border: 0px;
    border-radius: 0px 22px 22px 0px;
    width: -webkit-fill-available;
}
 
button.login {
    background: white;
    height: 60px;
    border-radius: 22px 0px 0px 22px;
    border: 0px;
    width: -webkit-fill-available;
}

button.pressed{
    background-color: #B7C9E2;
    color: white;
}

