.nav {
    background: #B7C9E2;
  }
  nav ul {
    padding: 1%;
    display: flex;
    max-width: 44%;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 26%;
    
  }
  nav li a {
    font-family: cursive;
    color: white;
    font-size: 16px;
    text-decoration: none;
    
  }
  nav li a:hover {
    color: black;
  }